<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    {{template "style" .}}
</head>
<body>
    {{template "header" .}}
    <section class="products">
        {{range .Products}}
            <section class="product">
                <img class="img" src="{{ .ImgURL }}"/>
                <h2 class="title">{{ .Title }}</h2>
                <h4 class="address">{{ .Address }}</h4>
                <h4 class="price">{{ .Price }}$</h4>
                <a class="link" href="/products/{{ .ID }}">View Page</a>
            </section>
        {{end}}
    </section>
</body>

</html>