<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    {{template "style" .}}
</head>
<body>
    {{template "header" .}}
    <div class="login-container">
        <form class="login-form" id="form" method="post">
            <h2 class="login-title">Login Here</h2>
            <input class="input" name="username" placeholder="Username"/>
            <input class="input" name="password" placeholder="Password" type="password">
            <input class="submit-login" id="submit-login" type="submit" value="Login"/>
            {{if ge .StatusCode 400}}
                <h5 style="color: red;">{{.Message}}</h5>
            {{else}}
                <h5 style="color: green;">{{.Message}}</h5>
            {{end}}
        </form>
    </div>
</body>
</html>